# ignore pycharm files
.idea/

# Ignore Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# ignore db files
*.sqlite3

# ignore log file
django.log

# ignore env files
*.env
