{% extends "base_update_create_form.html" %}

{% block title %}Create Category{% endblock %}
{% block header %}Create Category{% endblock %}
{% block success_message %}Category created successfully!{% endblock %}
{% block submit_button %}Create Category{% endblock %}

{% block form_fields %}
    <label for="name">Name:</label>
    {{ form.name.errors }}
    {{ form.name }}

    <label for="description">Description:</label>
    {{ form.description.errors }}
    {{ form.description }}
{% endblock %}
