{% extends "base_update_create_form.html" %}

{% block title %}Update Product{% endblock %}
{% block header %}Update Product{% endblock %}
{% block success_message %}Product updated successfully!{% endblock %}
{% block submit_button %}Update Product{% endblock %}

{% block form_fields %}
    <label for="name">Name:</label>
    {{ form.name.errors }}
    {{ form.name }}

    <label for="description">Description:</label>
    {{ form.description.errors }}
    {{ form.description }}

    <label for="price">Price:</label>
    {{ form.price.errors }}
    {{ form.price }}

    <label for="stock">Stock:</label>
    {{ form.stock.errors }}
    {{ form.stock }}

    <label for="category">Category:</label>
    {{ form.category.errors }}
    {{ form.category }}
{% endblock %}
